<div class="mt-5 px-5">
  <h3 class="mt-5">order List</h3>
  <div class="sales-head mt-3">
    <div>
      <input type="text" class="search" [(ngModel)]="search" name="search" />
    </div>
    <div>
      <input
        type="date"
        class="mx-3 search"
        name="searchDate"
        (keyup)="getInvoices(searchDate)"
        [(ngModel)]="searchDate"
      />
      <button class="btn-toggle-form">
        <fa-icon [icon]="faPlus" class="me-1"></fa-icon> add new Invoice
      </button>
    </div>
  </div>
  <div class="contain-invoices my-4" id="invoiceContainer">
    <div *ngFor="let invoice of invoices; let i = index">
      <div class="invoice-card">
        <div>
          <h5 class="mb-4">
            {{ invoice.clientName }}
            <span>({{ invoice.itemCount }} items)</span>
          </h5>
          <p>{{ invoice.createdAt }}</p>
        </div>
        <div class="card-right">
          <div>
            <h6 class="mb-4 me-1">Total price</h6>
            <h6 class="mb-4 me-1">Remainig</h6>
          </div>
          <div>
            <h6 class="mb-4">
              :<span class="ms-3"
                ><b>{{ invoice.total }}</b> EGP</span
              >
              <button
                class="circle-right mx-1"
                (click)="navigateTo(invoice.id)"
              >
                <fa-icon [icon]="faChevronRight" class="mx-1"></fa-icon>
              </button>
            </h6>
            <h6>
              :<span class="ms-3">
                <b>{{ invoice.remainingBalance }}</b></span
              >
              EGP
            </h6>
          </div>
        </div>
      </div>
    </div>
    <!-- Hidden element
  
  <!--update product Modal -->
    <div
      class="modal fade"
      id="updatedSalesOrdersModal"
      tabindex="-1"
      aria-labelledby="updatedSalesOrdersModallable"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="update-product-form">
            <h3 *ngIf="!showReturnedCost">return a sale</h3>
            <!-- (ngSubmit)="updateOneProduct(updatedSalesObj)" -->
            <form>
              <div *ngIf="!showReturnedCost">
                <div class="form-group">
                  <label for="price">quantity</label>
                  <input
                    inputmode="numeric"
                    class="form-control"
                    id="quantity"
                    name="quantity"
                    required
                  />
                  <!-- (keyup)="validateQuantity($event)" -->
                </div>
                <div class="form-group">
                  <label for="price">reasone</label>
                  <input
                    type="text"
                    class="form-control"
                    id="reasone"
                    name="reasone"
                    required
                  />
                  <!-- [(ngModel)]="updatedSalesObj.reasone" -->
                </div>
              </div>
              <div class="form-group" *ngIf="showReturnedCost">
                <h3>
                  returned Cost Is : <b>{{ returnedCost }} L.E</b>
                </h3>
              </div>
              <div class="form-group">
                <button
                  *ngIf="!showReturnedCost"
                  type="submit"
                  class="btn btn-primary mt-2 form-control my-2"
                >
                  <!-- (click)="returnSale()" -->
                  return the sale
                </button>
                <button
                  type="button"
                  class="btn btn-secondary form-control"
                  data-bs-dismiss="modal"
                  #closeModal
                >
                  Close
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
