<div class="mt-5 px-5">
  <h3 class="mt-5">Sales List</h3>
  <div class="table-container table-responsive">
    <table class="table fixed-height table-responsive">
      <thead>
        <tr>
          <th>No.</th>
          <td>product Name</td>
          <td>piece Price</td>
          <td>quantity</td>
          <td>total</td>
          <td>amountPaid</td>
          <td>remaining</td>
          <td>client Name</td>
          <td>createdAt</td>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let salesItem of sales
              | paginate
                : { itemsPerPage: 8, currentPage: p, totalItems: count };
            let i = index
          "
        >
          <td>{{ i + startIndex }}</td>
          <td>{{ salesItem.productName }}</td>
          <td>{{ salesItem.piecePrice }}</td>
          <td>{{ salesItem.quantity }}</td>
          <td>{{ salesItem.total }}</td>
          <td>{{ salesItem.amountPaid }}</td>
          <td>{{ salesItem.remainingBalance }}</td>
          <td>{{ salesItem.clientName }}</td>
          <td>{{ salesItem.createdAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls
    (pageChange)="p = $event; getListOfSales(p)"
  ></pagination-controls>
</div>
