<div class="mt-5 px-5">
  <h2 class="page-title">Add new Order</h2>
  <!-- (ngSubmit)="onSubmit()" -->
  <form class="sales-form mb-5">
    <div class="row">
      <div class="mb-2 col-12">
        <!--  -->
        <label for="clientName" class="form-label">client name</label>
        <div class="client-selection" #clientSelection>
          <div class="client-search-wrapper">
            <input
              type="text"
              autocomplete="off"
              id="clientName"
              class="form-control client-search"
              name="name"
              [(ngModel)]="clientObj.name"
              (keyup)="filterClientsByName($event)"
              required
            />
            <ul
              class="client-list"
              *ngIf="filteredClients.length > 0 && !phoneFlag"
            >
              <li
                *ngFor="let client of filteredClients"
                [value]="client.name"
                (click)="selectClient(client)"
              >
                {{ client.name }}
              </li>
            </ul>
          </div>
        </div>
        <!--  -->
      </div>
      <div class="mb-2 col-12">
        <label for="Phone" class="form-label">client Phone</label>
        <div class="client-selection" #clientPhoneSelection>
          <div class="client-search-wrapper">
            <input
              type="text"
              autocomplete="off"
              id="phone"
              class="form-control client-search"
              name="phone"
              [(ngModel)]="clientObj.phone"
              (keyup)="filterClientsByPhone($event)"
              required
            />
            <ul
              class="client-list"
              *ngIf="filteredClients.length > 0 && phoneFlag"
            >
              <li
                *ngFor="let client of filteredClients"
                [value]="client.phone"
                (click)="selectClient(client)"
              >
                {{ client.phone }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mb-3 col-12">
        <div class="new-client">
          <button
            class="client-btn"
            data-bs-toggle="modal"
            data-bs-target="#addClientModal"
          >
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
          <span data-bs-toggle="modal" data-bs-target="#addClientModal">
            add new Client</span
          >
        </div>
      </div>
      <!-- product items -->
      <div class="mb-3 col-12">
        <div class="items">
          <div class="row" *ngFor="let item of invoiceItems; let i = index">
            <!-- select product -->
            <div class="mb-3 col-6">
              <label for="product" class="form-label">Select Product</label>
              <div class="product-selection" #productSelection>
                <div class="product-search-wrapper">
                  <input
                    type="text"
                    autocomplete="off"
                    id="productSearch"
                    class="form-control product-search"
                    placeholder="Select Product"
                    (keyup)="filterProducts($event, i)"
                    name="productId{{ i }}"
                    [(ngModel)]="item.productName"
                  />
                  <ul
                    class="product-list"
                    *ngIf="invoiceItems[i]?.filteredProducts?.length > 0"
                  >
                    <li
                      *ngFor="let product of invoiceItems[i].filteredProducts"
                      [value]="product.name"
                      (click)="selectProduct(product, i)"
                    >
                      {{ product.name }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- select piecePrice -->
            <div class="mb-3 col-3">
              <label for="piecePrice" class="form-label">Price</label>
              <input
                type="text"
                id="piecePrice{{ i }}"
                class="form-control"
                [(ngModel)]="item.piecePrice"
                name="piecePrice{{ i }}"
                (keyup)="calcTotal()"
                required
              />
            </div>
            <!-- select quantity -->
            <div class="mb-3 col-3">
              <label for="quantity" class="form-label">Qty</label>
              <input
                type="number"
                id="quantity{{ i }}"
                class="form-control"
                [(ngModel)]="item.quantity"
                name="quantity{{ i }}"
                min="1"
                (keyup)="calcTotal()"
                required
              />
            </div>
          </div>
          <div class="new-client">
            <button class="client-btn" (click)="addnewItem()">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
            <span> add new Item</span>
          </div>
        </div>
      </div>
      <div class="mb-3 col-4">
        <label for="total" class="form-label">total</label>
        <input
          type="text"
          id="total"
          class="form-control"
          [(ngModel)]="sale.total"
          name="total"
          disabled
        />
      </div>
      <div class="mb-3 col-4">
        <label for="amountPaid" class="form-label">amountPaid</label>
        <input
          type="text"
          id="amountPaid"
          class="form-control"
          [(ngModel)]="sale.amountPaid"
          name="amountPaid"
          (keyup)="calcRemaider(sale)"
          required
        />
      </div>
      <!-- <div class="mb-3 col-6">
        <label for="comments" class="form-label">comments</label>
        <input
          id="comments"
          class="form-control"
          [(ngModel)]="sale.comments"
          name="comments"
          required
        />
      </div> -->

      <div class="mb-3 col-4">
        <label for="salePrice" class="form-label">Remaining Balance</label>
        <input
          type="number"
          id="remainingBalance"
          class="form-control"
          [(ngModel)]="sale.remainingBalance"
          name="remainingBalance"
          disabled
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary sell">Confirm</button>
  </form>

  <!--add client Modal -->
  <div
    class="modal fade"
    id="addClientModal"
    tabindex="-1"
    aria-labelledby="clientModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="add-client-form">
          <h3>Add New client</h3>
          <form>
            <div class="form-group">
              <label for="name">client Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                [(ngModel)]="newClient.name"
                required
              />
            </div>
            <div class="form-group">
              <label for="phone">phone</label>
              <input
                type="string"
                class="form-control"
                id="phone"
                name="phone"
                [(ngModel)]="newClient.phone"
                required
              />
            </div>

            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary my-2 form-control"
                (click)="addNewClient(newClient)"
              >
                confirm
              </button>
              <button
                type="button"
                class="btn btn-secondary form-control"
                data-bs-dismiss="modal"
                #closeModal
              >
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
