<div class="container mt-5">
  <h2 class="page-title">Register Sale</h2>
  <!-- (ngSubmit)="onSubmit()" -->
  <form class="sales-form">
    <div class="mb-3">
      <label for="product" class="form-label">Product</label>
      <input
        type="text"
        id="productSearch"
        class="form-control"
        [(ngModel)]="productSearch"
        placeholder="Search products"
        (input)="filterProducts()"
      />

      <select
        id="product"
        class="form-select mt-2"
        [(ngModel)]="sale.total"
        name="product"
        required
      >
        <option *ngFor="let product of filteredProducts" [value]="product.id">
          {{ product.name }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="clientName" class="form-label">Client Name</label>
      <input
        type="text"
        id="clientName"
        class="form-control"
        [(ngModel)]="sale.clientName"
        name="clientName"
        required
      />
    </div>

    <div class="mb-3">
      <label for="salePrice" class="form-label">Sale Price</label>
      <input
        type="number"
        id="salePrice"
        class="form-control"
        [(ngModel)]="sale.total"
        name="salePrice"
        required
      />
    </div>

    <div class="mb-3">
      <label for="paymentStatus" class="form-label">Payment Status</label>
      <select
        id="paymentStatus"
        class="form-select"
        [(ngModel)]="sale.total"
        name="paymentStatus"
        required
      >
        <option value="paid">Paid</option>
        <option value="pending">Pending</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Register Sale</button>
  </form>

  <h3 class="mt-5">Sales List</h3>
  <div class="table-container table-responsive">
    <table class="table fixed-height table-responsive">
      <thead>
        <tr>
          <th>No.</th>
          <td>product Name</td>
          <td>piece Price</td>
          <td>quantity</td>
          <td>total</td>
          <td>amountPaid</td>
          <td>remaining</td>
          <td>client Name</td>
          <td>createdAt</td>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let salesItem of sales
              | paginate
                : { itemsPerPage: 8, currentPage: p, totalItems: count };
            let i = index
          "
        >
          <td>i</td>
          <td>{{ salesItem.productName }}</td>
          <td>{{ salesItem.piecePrice }}</td>
          <td>{{ salesItem.quantity }}</td>
          <td>{{ salesItem.total }}</td>
          <td>{{ salesItem.amountPaid }}</td>
          <td>{{ salesItem.remainingBalance }}</td>
          <td>{{ salesItem.clientName }}</td>
          <td>{{ salesItem.createdAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls
    (pageChange)="p = $event; getLastSales(p)"
  ></pagination-controls>
</div>
