$primaryColor: #0d6efd;
.sidebar {
  background-color: #f9f9f9 !important;
  color: #000;
  height: 100%;
  overflow: auto;
}
ul {
  width: 100%;
  li {
    width: 100% !important;
    margin-bottom: 10px;
  }
}

.nav-item {
  padding: 1rem !important;
}
.nav-link {
  color: #000;
  text-transform: capitalize;
  fa-icon {
    margin-right: 8px;
  }
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 1rem;
  padding: 5px 1rem !important;
  // width: 100% !important;
}
.nav-link:hover {
  background-color: $primaryColor;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}
.active {
  background-color: $primaryColor;
  font-weight: 800;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  .nav-link {
    padding: 5px 0 5px 10px !important;
    font-size: 17px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .nav-link {
    padding: 5px 0.5rem !important;
    font-size: 18px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .nav-link {
    span {
      display: inline-block !important;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 360px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 319px) {
}
