<div class="sidebar pt-5">
  <div
    class="d-flex flex-column align-items-center align-items-sm-start px-1 text-white min-vh-100"
  >
    <ul
      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
      id="menu"
    >
      <app-loader *ngIf="isLoading"></app-loader>

      <!-- <li>
        <a
          class="nav-link align-middle px-0"
          (click)="navigateToHome()"
          [ngClass]="{ active: currentRoute === '/home' }"
        >
          <fa-icon [icon]="faHome"></fa-icon>
          <span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
      </li> -->
      <li>
        <a
          data-bs-toggle="collapse"
          class="nav-link px-0 align-middle"
          [ngClass]="{ active: currentRoute.includes('/sales') }"
          (click)="navigateTo('sales')"
        >
          <fa-icon [icon]="faCartArrowDown"></fa-icon>
          <span class="ms-1 d-none d-sm-inline">Sales</span>
        </a>
      </li>
      <li>
        <a
          class="nav-link align-middle px-0"
          (click)="navigateTo('orders')"
          [ngClass]="{
            active:
              currentRoute === '/orders' || currentRoute.includes('/invoice/')
          }"
        >
          <fa-icon [icon]="faChartLine"></fa-icon>
          <span class="ms-1 d-none d-sm-inline">Orders</span>
        </a>
      </li>
      <li *ngIf="isAdmin">
        <a
          (click)="navigateTo('products')"
          [ngClass]="{ active: currentRoute === '/products' }"
          class="nav-link px-0 align-middle"
        >
          <fa-icon [icon]="faStore"></fa-icon>
          <span class="ms-1 d-none d-sm-inline">Products</span></a
        >
      </li>
      <li>
        <a
          class="nav-link px-0 align-middle"
          [ngClass]="{ active: currentRoute === '/transactions' }"
          (click)="navigateTo('transactions')"
        >
          <fa-icon [icon]="faMoneyCheckDollar"></fa-icon>
          <span class="ms-1 d-none d-sm-inline">Transactions</span>
        </a>
      </li>
      <li>
        <a
          class="nav-link px-0 align-middle"
          [ngClass]="{ active: currentRoute === '/outgoing' }"
          (click)="navigateTo('outgoing')"
        >
          <fa-icon [icon]="faCoins"></fa-icon>
          <span class="ms-1 d-none d-sm-inline">outgoing</span>
        </a>
      </li>
    </ul>
    <hr />
    <div class="dropdown mb-4">
      <button
        class="btn dropdown-toggle dropdown-btn text-dark border-0"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          [src]="user.avatar"
          alt="hugenerd"
          width="40"
          height="40"
          class="rounded-circle"
        />
        <span>{{ user.name }}</span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a class="dropdown-item" (click)="navigateTo('profile')">
            <fa-icon [icon]="faUser" class="me-2"></fa-icon>
            Profile</a
          >
        </li>
        <li (click)="navigateTo('new-user')" *ngIf="isAdmin">
          <a class="dropdown-item">
            <fa-icon [icon]="faUserPlus" class="me-2"></fa-icon>
            New User</a
          >
        </li>
        <li (click)="signout()">
          <a class="dropdown-item">
            <fa-icon [icon]="faSignOut" class="me-2"></fa-icon>
            Log Out</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
