/* product-list.component.scss */

.container {
  margin-top: 2rem;
}

h2 {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin: 2rem auto;
  background-color: transparent;
}
.btn {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-primary {
  background-color: #3498db;
  border: none;
}
// &:hover {
//   background-color: darken(#3498db, 10%);
// }

.btn-danger {
  background-color: #e74c3c;
  border: none;

  &:hover {
    background-color: darken(#e74c3c, 10%);
  }
}

.me-2 {
  margin-right: 0.5rem;
}
