<div class="container mt-4">
  <div>
    <h2>my products</h2>
  </div>
  <div class="products-head mt-3">
    <input type="text" class="search" />
    <button
      class="btn btn-toggle-form mb-2"
      data-bs-toggle="modal"
      data-bs-target="#addProductModal"
    >
      <!-- (click)="toggleForm()" -->
      <fa-icon [icon]="faPlus" class="me-1"></fa-icon> add new product
    </button>
  </div>
  <div class="table-container table-responsive">
    <table class="table fixed-height table-responsive">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Price</th>
          <th>Sold Price</th>
          <th>Stock</th>
          <th>description</th>
          <th>Last Update</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let product of products
              | paginate
                : { itemsPerPage: 10, currentPage: p, totalItems: count };
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.soldPrice }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.updatedAt }}</td>
          <td class="table-cotrollers">
            <button
              class="btn btn-primary btn-sm me-3"
              data-bs-toggle="modal"
              data-bs-target="#updatedProductModal"
              (click)="openUpdateForm(product)"
            >
              <fa-icon [icon]="faPen"></fa-icon>
            </button>
            <button
              class="btn btn-danger btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
              (click)="ActivateProductToDelete(product.id)"
            >
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls
    (pageChange)="p = $event; getproducts(p)"
  ></pagination-controls>

  <!--update product Modal -->
  <div
    class="modal fade"
    id="updatedProductModal"
    tabindex="-1"
    aria-labelledby="updatedProductModallable"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="update-product-form">
          <h3>update Product</h3>
          <form (ngSubmit)="updateOneProduct(updatedProduct)">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                [(ngModel)]="updatedProduct.name"
                name="name"
                required
              />
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                [(ngModel)]="updatedProduct.price"
                name="price"
                required
              />
            </div>
            <div class="form-group">
              <label for="soldPrice">Sold Price</label>
              <input
                type="number"
                class="form-control"
                id="soldPrice"
                [(ngModel)]="updatedProduct.soldPrice"
                name="soldPrice"
                required
              />
            </div>

            <div class="form-group">
              <label for="stock">Stock</label>
              <input
                type="number"
                class="form-control"
                id="stock"
                [(ngModel)]="updatedProduct.stock"
                name="stock"
                required
              />
            </div>
            <div class="form-group">
              <label for="description">description</label>
              <textarea
                class="form-control"
                id="description"
                [(ngModel)]="updatedProduct.description"
                name="description"
                required
                rows="3"
                cols="50"
              >
              </textarea>
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary mt-2 form-control my-2"
              >
                update Product
              </button>
              <button
                type="button"
                class="btn btn-secondary form-control"
                data-bs-dismiss="modal"
                #closeModal
              >
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--add product Modal -->
  <div
    class="modal fade"
    id="addProductModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="add-product-form">
          <h3>Add New Product</h3>
          <form (ngSubmit)="addProduct()">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                [(ngModel)]="newProduct.name"
                name="name"
                required
              />
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                [(ngModel)]="newProduct.price"
                name="price"
                required
              />
            </div>
            <div class="form-group">
              <label for="soldPrice">Sold Price</label>
              <input
                type="number"
                class="form-control"
                id="soldPrice"
                [(ngModel)]="newProduct.soldPrice"
                name="soldPrice"
                required
              />
            </div>

            <div class="form-group">
              <label for="stock">Stock</label>
              <input
                type="number"
                class="form-control"
                id="stock"
                [(ngModel)]="newProduct.stock"
                name="stock"
                required
              />
            </div>
            <div class="form-group">
              <label for="description">description</label>
              <textarea
                class="form-control"
                id="description"
                [(ngModel)]="newProduct.description"
                name="description"
                required
                rows="3"
                cols="50"
              ></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary my-2 form-control">
                Add Product
              </button>
              <button
                type="button"
                class="btn btn-secondary form-control"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <!-- delete Modal -->
  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    aria-labelledby="deleteModallable"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            delete product
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-danger">
          Are you sure to delete this product?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            #deleteModal
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteProduct()"
          >
            delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
