/* src/app/products/products.component.scss */

.container {
  margin-top: 50px;
}

h2 {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.btn-toggle-form {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 1px solid #007bff;
  background-color: #fff;
  color: #007bff;
  cursor: pointer;

  &:hover {
    background-color: #007bff;
    color: #fff;
  }
}

.add-product-form {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.btn-submit {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: darken(#28a745, 10%);
  }
}
.btn-cancel {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 1px solid #dc3545;
  background-color: #fff;
  color: #dc3545;
  margin-left: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #dc3545;
    color: #fff;
  }
}
.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}
pagination-controls {
  text-align: center;
}
