<div class="signup-container">
  <div class="signup-box">
    <h2>Sign Up</h2>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Enter your name"
          required
          name="name"
          standalone="true"
          [(ngModel)]="name"
          #nameRef="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter your email"
          required
          name="email"
          standalone="true"
          [(ngModel)]="email"
          #emailRef="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="Enter your password"
          required
          name="password"
          standalone="true"
          [(ngModel)]="password"
          #passwordRef="ngModel"
        />
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <div class="errorMessage" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <p class="mt-3">
        Already have an account? <a href="/login">Login here</a>
      </p>
    </form>
  </div>
</div>
