<div class="signup-container mt-5 px-5">
  <app-loader *ngIf="isLoading"></app-loader>
  <div>
    <h3>Add New User</h3>
  </div>
  <div class="signup-box">
    <form #sellForm="ngForm" (ngSubmit)="onSubmit(sellForm)">
      <div class="form-group">
        <label for="employeeRole">Role</label>
        <select
          class="form-select mb-3"
          aria-label="Default select example"
          (change)="updateRole($event)"
        >
          <option value="admin" [selected]="role == 'admin'">admin</option>
          <option value="user" [selected]="role == 'user'">user</option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          autocomplete="off"
          class="form-control"
          placeholder="Enter name"
          required
          name="name"
          standalone="true"
          [(ngModel)]="name"
          #nameRef="ngModel"
        />
      </div>
      <div class="form-group mt-4">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter email"
          required
          name="email"
          autocomplete="off"
          standalone="true"
          [(ngModel)]="email"
          #emailRef="ngModel"
        />
      </div>
      <div class="form-group mt-4">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="Enter password"
          required
          name="password"
          autocomplete="off"
          standalone="true"
          [(ngModel)]="password"
          #passwordRef="ngModel"
        />
      </div>

      <button type="submit" class="btn btn-primary mt-4">Confirm</button>
      <div class="errorMessage" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
