.nav,
.tab-content {
  border: 1px solid #dee2e6;
  padding: 15px;

  .tab-pane {
    padding: 15px;
  }
  .nav-item {
    .active {
      border: 1px solid #c6c8cb !important;
      border-radius: 0;
      background-color: #e9e9e9 !important;
    }
    .nav-link {
      color: #000;
      //   margin-bottom: 5px;
      border: 1px solid #dee2e6;
      border-radius: 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .info-data {
    display: flex;
    margin: 1rem 0;
    .image-responsive {
      width: 150px;
      border-radius: 50%;
    }
    .user-role {
      color: #0d6efd;
    }
    .edit-icon {
      position: absolute;
      top: 38%;
      right: 49%;
      cursor: pointer;
      color: #fff;
      background-color: #0d6efd;
      padding: 6px;
      border-radius: 50%;
    }
  }
  .contain-confirm {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    button {
      width: 20%;
    }
  }
}
