<div class="container mt-5 px-5">
  <div class="transactions-head">
    <h3>Our Transactions</h3>
    <h3>
      total
      <span class="total-money"
        >{{ totalExistMoney | number : "1.0-0" }} EGP</span
      >
    </h3>
  </div>
  <div class="transactions-head">
    <input
      type="text"
      class="search-input"
      name="search"
      (keyup)="calcDailySales(getFormattedDate(), search)"
      [(ngModel)]="search"
    />
    <input
      type="date"
      class="search-input"
      name="date"
      (change)="calcDailySales(searchDate, search)"
      [(ngModel)]="searchDate"
    />
  </div>
  <ul class="nav nav-tabs mt-4" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="ex1-tab-1"
        data-bs-toggle="tab"
        href="#ex1-tabs-1"
        role="tab"
        aria-controls="ex1-tabs-1"
        aria-selected="true"
        >ُEntry</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="ex1-tab-2"
        data-bs-toggle="tab"
        href="#ex1-tabs-2"
        role="tab"
        aria-controls="ex1-tabs-2"
        aria-selected="false"
        >Expenses</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="ex1-tab-3"
        data-bs-toggle="tab"
        href="#ex1-tabs-3"
        role="tab"
        aria-controls="ex1-tabs-3"
        aria-selected="false"
        >Old Payment</a
      >
    </li>
  </ul>
  <div class="tab-content" id="ex1-content">
    <div
      class="tab-pane fade show active"
      id="ex1-tabs-1"
      role="tabpanel"
      aria-labelledby="ex1-tab-1"
    >
      <h1 class="empty-data" *ngIf="sales.length == 0">There Is No orders</h1>
      <!-- start of accordion -->
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="tabs-data">
          <div
            *ngFor="let invoice of sales; let i = index"
            class="accordion-item"
          >
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed accordion-btn"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse' + invoice.id"
                aria-expanded="false"
                [attr.aria-controls]="'collapse' + invoice.id"
              >
                <span class="my-0">{{ invoice.client.name }}</span>
                <span class="my-0 ms-3">{{ invoice.client.phone }}</span>
              </button>
            </h2>
            <div
              [id]="'collapse' + invoice.id"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body px-0">
                <div class="table-container table-responsive">
                  <table
                    class="table orders-table fixed-height table-responsive"
                    *ngIf="sales.length > 0"
                  >
                    <thead>
                      <tr>
                        <!-- <td>No.</td> -->
                        <td>Product Name</td>
                        <td>Piece price</td>
                        <td>Qty</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let invoiceItem of invoice.invoice_items;
                          let i = index
                        "
                      >
                        <!-- <td>{{ i + invoice_startIndex }}</td> -->
                        <td>{{ invoiceItem.product.name }}</td>
                        <td>
                          {{ invoiceItem.piecePrice | number : "1.0-0" }} EGP
                        </td>
                        <td>{{ invoiceItem.quantity }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of accordions -->
    </div>
    <!-- expenses tab -->
    <div
      class="tab-pane fade"
      id="ex1-tabs-2"
      role="tabpanel"
      aria-labelledby="ex1-tab-2"
    >
      <h1 *ngIf="dailyExpense.length == 0" class="empty-data">
        There Is No Expenses
      </h1>
      <div class="tabs-data">
        <div
          class="table-container table-responsive"
          *ngIf="dailyExpense.length > 0"
        >
          <table class="table fixed-height table-responsive expense-table">
            <thead>
              <tr>
                <!-- <th>No.</th> -->
                <td>Expense Name</td>
                <td>Description</td>
                <td>Amount</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let expenseItem of dailyExpense; let i = index">
                <!-- <td>{{ i + expense_startIndex }}</td> -->
                <td>{{ expenseItem.expenseName }}</td>
                <td>{{ expenseItem.description }}</td>
                <td>{{ expenseItem.amount | number : "1.0-0" }} EGP</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td class="expenses-total">Total</td>
                <td>
                  <b> {{ totalDailyExpense | number : "1.0-0" }} EGP</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="ex1-tabs-3"
    role="tabpanel"
    aria-labelledby="ex1-tab-3"
  >
    <h1 *ngIf="invoicePayments.length == 0" class="empty-data">
      There Is No old Payment
    </h1>
    <div class="tabs-data">
      <div
        class="table-container table-responsive"
        *ngIf="invoicePayments.length > 0"
      >
        <table class="table fixed-height table-responsive expense-table">
          <thead>
            <tr>
              <!-- <th>No.</th> -->
              <td>client</td>
              <td>Paid</td>
              <td>remaining</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoicePayment of invoicePayments; let i = index">
              <!-- <td>{{ i + expense_startIndex }}</td> -->
              <td>{{ invoicePayment.client.name }}</td>
              <td>{{ invoicePayment.amountPaid | number : "1.0-0" }} EGP</td>
              <td>{{ invoicePayment.remaining | number : "1.0-0" }} EGP</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
