/* You can add global styles to this file, and also import other style files */
/* src/styles.scss */

// Define color variables
$dark-blue: #2c3e50;
$light-blue: #3498db;
$light-gray: #ecf0f1;
$white: #ffffff;

.btn-toggle-form {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 1px solid #007bff;
  background-color: #fff;
  color: #007bff;
  cursor: pointer;

  &:hover {
    background-color: #007bff;
    color: #fff;
  }
}

body {
  font-family: "Roboto", sans-serif !important;
  // background-color: #f8f9fa !important;
  color: #343a40 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600 !important;
}
.search-input {
  border-radius: 5px !important;
  height: 35px !important;
  padding: 5px !important;
}

// Login and signup page styles
.login-container,
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $light-gray;

  .login-box,
  .signup-box {
    background-color: $white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
      color: $dark-blue;
    }

    .form-group {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        color: $dark-blue;
      }

      .form-control {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid $light-gray;
        border-radius: 4px;
        opacity: 0.8; // Set initial opacity

        &:hover,
        &:focus {
          opacity: 1; // Increase opacity on hover and focus
          border-color: $light-blue;
          box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); // Add a subtle shadow on focus
        }
      }
    }

    .btn-primary {
      width: 100%;
      padding: 0.75rem;
      background-color: $light-blue;
      border: none;
      border-radius: 4px;
      color: $white;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: darken($light-blue, 10%);
      }
    }

    p {
      text-align: center;
      margin-top: 1rem;
      color: $dark-blue;

      a {
        color: $light-blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none; /* Standard approach for modern browsers */
  -webkit-appearance: none; /* Webkit-based browsers (Chrome, Safari) */
  margin: 0;
}
