<div class="container mt-5 px-5">
  <div class="outgoing-head mt-3">
    <h2>my outgoing</h2>
    <button
      class="btn btn-toggle-form mb-2"
      data-bs-toggle="modal"
      data-bs-target="#addOutgoingModal"
    >
      <!-- (click)="toggleForm()" -->
      <fa-icon [icon]="faPlus" class="me-1"></fa-icon> add new outgoing
    </button>
  </div>
  <h1 class="empty-data" *ngIf="outgoing.length == 0">There Is No Entries</h1>
  <div class="table-container table-responsive" *ngIf="outgoing.length > 0">
    <table class="table fixed-height table-responsive">
      <thead>
        <tr>
          <th>No.</th>
          <th>expense Name</th>
          <th>description</th>
          <th>reasone</th>
          <th>amount</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let outItem of outgoing
              | paginate
                : { itemsPerPage: 8, currentPage: p, totalItems: count };
            let i = index
          "
        >
          <td>{{ i + startIndex }}</td>
          <td>{{ outItem.expenseName }}</td>
          <td class="desc">{{ outItem.description }}</td>
          <td>{{ outItem.reasone }}</td>
          <td>{{ outItem.amount | number : "1.0-0" }} EGP</td>
          <td>{{ outItem.updatedAt }}</td>
          <td>
            <div class="table-cotrollers">
              <button
                class="btn btn-primary btn-sm me-3"
                data-bs-toggle="modal"
                data-bs-target="#updatedOutgoingModal"
                (click)="openUpdateForm(outItem)"
              >
                <fa-icon [icon]="faPen"></fa-icon>
              </button>
              <button
                class="btn btn-danger btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                (click)="openDeleteModal(outItem.id)"
              >
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls
    *ngIf="outgoing.length > 0"
    (pageChange)="p = $event; getOutgoing(p, search)"
  ></pagination-controls>

  <!--update outgoing Modal -->
  <div
    class="modal fade"
    id="updatedOutgoingModal"
    tabindex="-1"
    aria-labelledby="updatedOutgoingModallable"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="update-outgoing-form">
          <h3>update outgoing</h3>
          <form (ngSubmit)="updateoutgoing(updatedOutgoing)">
            <div class="form-group">
              <label for="amount">amount</label>
              <input
                type="text"
                class="form-control"
                id="amount"
                [(ngModel)]="updatedOutgoing.amount"
                name="amount"
                required
              />
            </div>
            <div class="form-group">
              <label for="expenseName">expense Name</label>
              <input
                type="text"
                class="form-control"
                id="expenseName"
                [(ngModel)]="updatedOutgoing.expenseName"
                name="expenseName"
                required
              />
            </div>
            <div class="form-group">
              <label for="description">description</label>
              <input
                type="text"
                class="form-control"
                id="description"
                [(ngModel)]="updatedOutgoing.description"
                name="description"
                required
              />
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary mt-2 form-control my-2"
              >
                update outgoing
              </button>
              <button
                type="button"
                class="btn btn-secondary form-control"
                data-bs-dismiss="modal"
                #closeModal
              >
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--add outgoing Modal -->
  <div
    class="modal fade"
    id="addOutgoingModal"
    tabindex="-1"
    aria-labelledby="addOutgoingModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="add-outgoing-form">
          <h3>Add New outgoing</h3>
          <form (ngSubmit)="addOutgoing(newOutgoing)">
            <div class="form-group">
              <label for="expenseName">expense name</label>
              <input
                type="text"
                class="form-control"
                id="expenseName"
                [(ngModel)]="newOutgoing.expenseName"
                name="expenseName"
                required
              />
            </div>
            <div class="form-group">
              <label for="description">description</label>
              <input
                type="text"
                class="form-control"
                id="description"
                [(ngModel)]="newOutgoing.description"
                name="description"
                required
              />
            </div>
            <div class="form-group">
              <label for="amount">amount</label>
              <input
                type="number"
                class="form-control"
                id="amount"
                [(ngModel)]="newOutgoing.amount"
                name="amount"
                required
              />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary my-3 form-control">
                Add outgoing
              </button>
              <button
                #closeAddModal
                type="button"
                class="btn btn-secondary form-control"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- delete Modal -->
  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    aria-labelledby="deleteModallable"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            delete outgoing
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-danger">
          Are you sure to delete this outgoing?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            #deleteModal
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteOutgoing(deletedId)"
          >
            delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
